# Python compiled files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS
.DS_Store

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Testing
.pytest_cache/

# Build / distribution
build/
dist/
*.egg-info/

# Misc
*.log
*.tmp

#pickle files
*.pkl